<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Control your LED display via Bluetooth</string>
    <key>NSCameraUsageDescription</key>
    <string>Stream camera to LED display</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Display photos on LED matrix</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
